body {
    background-color: #f1f1f1;
    box-sizing: border-box;
}

/* navbar */

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

.bg-dark {
    background-color: rgb(36, 34, 34)!important;
}

.nav-link {
    color: #fff!important;
    font-weight: bold!important;
}

.navLeft {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.navRight {
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.linkRight {
    background-color: #fff;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 35px;
}

.linkRight a {
    color: black!important;
    font-weight: bold;
}

/* home page */

.home-main-cont {
    display: flex;
}

.home-left-cont {
    background-color: #2f3239;
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-right-cont {
    background-color: #f5f5f5;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.image-cont {
    /* background-color: white; */
    margin-top: 25px;
    width: 100px;
}
.profile-avatar {
    width: 100%;
}

.profile-username {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(228, 203, 203);
    text-transform: capitalize;
    letter-spacing: 1px;    
}

/* profile nav */
.profile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 60vh;
    width: 100%;
}

.profile-nav-ul  {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    color: #fff;
}


.profile-nav-a {
    color: rgb(228, 203, 203);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none!important;
}

.profile-nav-a:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
}

/* dictionaries */

.dict-cont {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.8);
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.dict-cont h4 {
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
}

.dict-cont:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
    cursor: pointer;
}

.dict-details {
    position: absolute;
    bottom: 0%;
    left: 3%;
    color: #fff;
    font-weight: bold;
}

.dict-view {
    position: absolute;
    right: 5%;
    bottom: 0%;
    color: #fff;
    font-weight: bold;
}

.dict-overview {
    display: flex;
    justify-content: space-between;
}

.top {
    width: 400px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.555);
    background-color: #353841;
}

.top:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.76);
}

#add-dict-svg:hover {
    fill: #4cb45136;
}

.dict-link {
    width: 250px;
    height: 300px;
}

.dict-list-cont:hover {
    text-decoration: none!important;
}

.dict-langs-cont {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.dict-lang {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 55px;
}

.dict-lang-title {
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.lang-flag {
    width: 40px;
}


/* dict create form */

.dict-form {
    width: 300px;
    margin-bottom: 10px;
}

.color {
    width: 100px;
}

#dict-form-container {
    display: flex;
    justify-content: space-evenly;
}

.dict-img-cont {
    width: 50%;
}

.dict-img {
    max-width: 100%;
}

/* add word on dict form */
.input-word-form {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 2px;
    background-color: #2b3035;
}

.word-form  {
    width: 230px;
}

.update {
    width: 150px;
    background-color: #fcad5e!important;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none!important;
    border: none;
}

.update:hover {
    color: #fff!important;
    background-color: #f19e4a!important;
}

/* search word */
.search-word-form {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 2px;
    background-color: #2b3035;
}
 
.search-input {
    width: 60%;
}

/* class for hiding form */
.hidden {
    display: none;
}

.arrow-btn {
    cursor: pointer;
}


/* table columns */

.definitionCol {
    width: 30%;
}
.originalCol {
    width: 30%;
}
.translatedCol {
    width: 30%;
}
.btnsCol {
    min-width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btnsCol svg:hover {
    cursor: pointer;
}

.tbl-input {
    /* border-radius: 2px; */
    /* font-weight: bold; */
    background-color: #f5f5f5;
}
.tbl-input:focus {
    outline: none;
    /* background-color: #f5f5f5; */
    /* box-shadow: 0px 1px 3px #1a3bf5c5; */
}

/* .tbl-input:hover {
    color: red!important;
} */

/* .tableRow:hover {
    background-color: red!important;
} */

.table {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
}

/* body {
    color: #ff5d13;
} */

.active-input {
    background-color: rgb(233, 221, 221);
}

.tableRow:hover {
    /* border-left: 4px solid #333; */
    /* cursor: pointer; */
}

/* Quiz */
.quiz-container {
    width: 100%;
    height: 100vh;
    background-color: #276189;
    padding-top: 100px;
}

.question-container {
    background-color: #fff;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.question-title-container {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: left;
    align-items: center;
    text-indent: 95px;
    background-color: #56a5ea;
    color: #fff;
    font-size: 24px;
}

.question-title-container p {
    margin-bottom: 0px!important;
}

.answears-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 240px;
    /* padding-left: 20px; */
    /* background-color: pink; */

}

.answear-container  {
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    background-color: rgba(117, 200, 255, 0.562);
    color: #2f3239;
    font-family: 'Open Sans', sans-serif;
}

.answear-container:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.473);
}

.answear {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
    text-indent: 15px;
    color: rgb(89, 22, 102);
    text-transform: uppercase;
}

.submit-answear {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    background-color: blue;
    cursor: pointer;
}

.submit-answear:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.616);
}