{% extends 'dictionary/main.html' %}
{% load static %}
{% block content %}
<!-- home-right-cont -->
<div class="container">
    <div class="overview-cont">
        <div class="overview">
            <h4 class="pt-2">Total Dictionaries</h4>
            <h4 style="font-size: 25px">{{ dictionaries.count }}</h4>
        </div>
        <div class="overview">
            <h4 class="mt-2">Add dictionary</h4>
            <a href="{% url 'dictionary_form' %}" class="add-dict-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" id="add-dict-svg" class="bi bi-plus add-dict" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg> 
            </a>
        </div>
    </div>
</div>
<div class="container">
    <hr class="m-3">
</div>
<div class="container mt-5 pb-5">
    <div class="dictionary-list-container">
    {% for dict in dictionaries %}
    <div class="">
        <a href="{% url 'dictionary' dict.id %}" class="dict-cont" style="background-color: {{ dict.color }};">
            <div class="dict-langs-cont">
                <div class="dict-lang">
                    <img src="{% static 'dictionary/images/flags/'|add:dict.lang_from|add:'.svg' %}" class="lang-flag" alt=""> 
                    <p class="dict-lang-title">{{ dict.lang_from }}</p> 
                </div> 
                <div class="dict-lang">
                    <img src="{% static 'dictionary/images/flags/'|add:dict.lang_to|add:'.svg' %}" class="lang-flag" alt=""> 
                    <p class="dict-lang-title">{{ dict.lang_to }}</p> 
                </div> 
            </div>
            <div class="dict-details-cont">
                <div class="dict-details">
                    <p>Words - {{ dict.word_set.all.count }}</p>
                </div>
                <div class="dict-details">
                    <p style="color: #fff;">{{ dict.date_created|date:"M d, Y" }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}