{% extends 'dictionary/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<script>
    var leftBar = document.getElementsByClassName('home-left-cont')[0]
    leftBar.style.display = "none"
</script>
<div class="quiz-container" id="quizContainer" data-id={{ quizId }}>
    <div class="start-quiz-cont" id="startBtnCont">
        <button class="start-quiz-btn" id="startQuizBtn">START</button>
    </div>
    {% for question in questions %}

    <div class="question-container {{ forloop.counter }} mb-5" id="q{{ question.id }}" data-id={{ question.id }} style="display: none;">
        <div class="question-title-container">
            <h4>{{ question.title }}</h4>
        </div>
        <div class="answears-container">
            {% for answear in question.answears %}
            <button class="answear-container {{ question.id }}" 
                                data-id="{{ answear.id }}" 
                                data-parentid = "{{ question.id }}"
                                data-is_true={{ answear.is_true }}>

                <p class="answear">{{ answear.title }}</p>
            </button>
            {% endfor %}
            <button class="btn btn-primary nextBtns" id="nextBtn{{ question.id }}" data-contid={{ forloop.counter }} disabled>next</button>
        </div>
    </div>
    {% endfor %}
    <div class="result-cont" id="quizResult" style="display: none;">
        <div class="result-title-cont">
            <h4 class="result-title">Quiz results</h4>
        </div>
        <hr>
        <div class="result">
            <p class="result-details" id="total"></p>
            <p class="result-details" id="corrects"></p>
            <p class="result-details" id="incorrects"></p>
            <p class="result-details" id="score"></p>
        </div>
        <hr>
        <div class="result-btns-cont">
            <a href="{% url 'quiz-home' %}" class="btn btn-info res-btn">Details</a>
            <a href="{% url 'quiz-home' %}" class="btn btn-primary res-btn">Finish</a>
        </div>
    </div>
</div>
<!-- local js -->
<script type="text/javascript" src="{% static 'dictionary/js/quiz.js' %}"></script>
{% endblock content %}
