{% extends 'dictionary/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<script>
    var leftBar = document.getElementsByClassName('home-left-cont')[0]
    leftBar.style.display = "none"
</script>
<div class="quiz-container">
    {% for question in questions %}

    <div class="question-container {{ forloop.counter }} mb-5" id="q{{ question.id }}" style="display: none;">
        <div class="question-title-container">
            <h4>{{ question.title }}</h4>
        </div>
        <div class="answears-container">
            {% for answear in question.answears %}
            <div class="answear-container">
                <p class="answear">{{ answear.title }}</p>
            </div>
            {% endfor %}
            <div class="submit-answear" data-id={{ forloop.counter }}>
                <h3 style="margin-bottom: 0px;">SUBMIT</h3>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

<script>
    var firstQ = document.getElementsByClassName('question-container 1')[0];
    firstQ.style.display = "block";

    var nextBtns = document.getElementsByClassName('submit-answear');

    for(var i=0; i<nextBtns.length; i++) {
    nextBtns[i].addEventListener('click', function(){
            var id = this.dataset.id;
            console.log(id);
            document.getElementsByClassName('question-container ' +id)[0].style.display = "none"
            let idPlus = parseInt(id) + 1
            console.log(idPlus);
            document.getElementsByClassName('question-container ' +idPlus)[0].style.display = "block"

        })
    }


</script>
{% endblock content %}
