{% extends 'dictionary/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container mt-5 p-5 border" id="dict-form-container" style="background-color: antiquewhite; border-radius: 5px;">
        <div class="dict-img-cont">
            <img src="{% static 'dictionary/images/book_lover1.svg' %}" class="dict-img" alt="">
        </div>
        <form action="{% url 'quiz-create' %}" method="POST">
        <legend class="mb-4" style="font-weight: bold;">Create Quizz</legend>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-inline" style="display: flex; justify-content: center;">
            <button type="submit" class="btn btn-dark w-50 mt-5">Create</button>
        </div>
        </form>
    </div>
{% endblock content %}
